div(class="custom-banner jumbotron jumbotron-fluid")
	img(src="/images/jonathan.png" class="img-fluid mx-auto d-block" alt="avatar")
	
	div(class="text-center")
		ul(class="brands brands-inline d-none d-md-inline mr-4")
			li: a(href="#"): i(class="fab fa-instagram")
			li: a(href="#"): i(class="fab fa-linkedin")

		h1(class="text-white display-4 font-weight-bolder d-inline")= config.name
		
		ul(class="brands brands-inline d-none d-md-inline ml-4")
			li: a(href="#"): i(class="fa fa-envelope")
			li: a(href="#"): i(class="fab fa-github")

		div(class="carousel slide vertical mt-2 my-md-4" data-ride="carousel")
			div(class="carousel-inner")
				div(class="item active")
					h3 
						| I 
						i(class="fa fa-heart icon-first text-danger")
						| &nbsp;programming

		a(href="#about" class="btn btn-reference btn-lg my-2" role="button")
			i(class="fa fa-smile-o")
			| Know me better

		a(href="#contact" class="btn btn-reference btn-lg btn-active my-2" role="button")
			i(class="fa fa-bolt") 
			| Hire me