div(class="jumbotron")
	img(src="/images/jonathan.png" class="img-responsive scrollpoint sp-effect3" alt="")
	div(class="social-wrapper")
		ul(class="brands brands-inline hidden-xs scrollpoint sp-effect1")
			li: a(href="#"): i(class="fa fa-facebook  hi-icon-effect-8")
			li: a(href="#"): i(class="fa fa-twitter")
		
		h2(class="scrollpoint sp-effect3") John Doe
		ul(class="brands brands-inline hidden-xs scrollpoint sp-effect2")
			li: a(href="#"): i(class="fa fa-google-plus")
			li: a(href="#"): i(class="fa fa-linkedin")



		// -- Slideshow start -->                          
		div(id="slideshow" class="carousel slide vertical scrollpoint sp-effect3" data-ride="carousel")
			div(class="carousel-inner")
				//<!-- Slideshow item 1 active --> 
				div(class="item active")
					h3 
						| I 
						i(class="fa fa-heart icon-first")
						| webdesign
 
		a(href="#about" class="btn btn-reference btn-lg scroll scrollpoint sp-effect1" role="button")
			i(class="fa fa-smile-o")
			| Know me better
		a(href="#contact" class="btn btn-reference btn-lg btn-active scroll scrollpoint sp-effect2" role="button")
			i(class="fa fa-bolt") 
			| Hire me