section(id="quotes" class="content-first")
	div(class="container")
		div(class="row scrollpoint sp-effect3")
			div(class="col-sm-8 col-sm-offset-2")
				blockquote(class="blockquote-reverse")
					p: i(class="fa fa-quote-left") Design is not just what it looks like and feels like. Design is how it works.
					footer  Steve Jobs