section(id="services" class="content-second") 
    div(class="container") 
        div(class="row") 
            div(class="col-md-12") 
                h2(class="scrollpoint sp-effect3") What i do
                p(class="scrollpoint sp-effect3") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in turpis quam. Nulla quis eleifend lectus. 
            
            div(class="col-md-3 service scrollpoint sp-effect1") 
                img(src="images/ico5.png" alt="") 
                h3 SEO first
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.
            
            
            div(class="col-md-3 service scrollpoint sp-effect1") 
                img(src="images/ico4.png" alt="") 
                h3 Firstclass design
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.
            
            
            div(class="col-md-3 service scrollpoint sp-effect2") 
                img(src="images/ico1.png" alt="") 
                h3 Fully responsive
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.
            
            div(class="col-md-3 service scrollpoint sp-effect2") 
                img(src="images/ico3.png" alt="") 
                h3 Browser friendly
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.