section(class="custom-section custom-i-believe") 
    div(class="container") 
        div(class="text-center")
            h2(class="font-weight-bolder") Why?
        div(class="row") 
            div(class="col-md-3 col-12 col-sm-6 ")
                img(src="images/think.png" alt="" class="img-fluid d-block mx-auto why-img") 
                h3 Think different
                p
                    span Why be like the average when we can be 
                    b MORE
                    span . Suprising people is hard, but is worth it. 
            
            div(class="col-md-3 col-12 col-sm-6")
                img(src="images/help.png" alt="" class="img-fluid d-block mx-auto why-img")
                h3 To help
                p.
                    Helping others is not only good for them, it's also something I enjoy. 
                    It kind off feels like I'm making the world a better place. 

            div(class="col-md-3 col-12 col-sm-6") 
                img(src="images/spaceship.png" alt="" class="img-fluid d-block mx-auto why-img") 
                h3 Create
                p. 
                    The most satisfiying moments are when I get to use my creativity to build things.
                    It gives me some meaning. Internet is my canvas where I make my own paintings. 
            
            div(class="col-md-3 col-12 col-sm-6") 
                img(src="images/value.jpg" alt="" class="img-fluid d-block mx-auto why-img") 
                h3 Give Value
                p. 
                    What better feeling than the one you get when something you did is actually useful for something. 