section(id="reference" class="content-second")
	h2(class="scrollpoint sp-effect3") Reference 
	p(class="scrollpoint sp-effect3") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in turpis quam. Nulla quis eleifend lectus.
	ul(class="grid cs-style-4")
		li
			figure(class="scrollpoint sp-effect1")
				div: img(src="images/ref1.png" alt="img04")
				figcaption
					h3 Lorem ipsum
					a(href="portfolio.html") Show me

		li
			figure(class="scrollpoint sp-effect3")
				div: img(src="images/ref2.png" alt="img04")
				figcaption
					h3 Lorem ipsum
					a(href="portfolio.html") Show me

		li
			figure(class="scrollpoint sp-effect2")
				div: img(src="images/ref3.png" alt="img04")
				figcaption
					h3 Lorem ipsum
					a(href="portfolio.html") Show me

		li
			figure(class="scrollpoint sp-effect1")
				div: img(src="images/ref4.png" alt="img04")
				figcaption
					h3 Lorem ipsum
					a(href="portfolio.html") Show me

		li
			figure(class="scrollpoint sp-effect3")
				div: img(src="images/ref5.png" alt="img04")
				figcaption
					h3 Lorem ipsum
					a(href="portfolio.html") Show me

		li
			figure(class="scrollpoint sp-effect2")
				div: img(src="images/ref6.png" alt="img04")
				figcaption
					h3 Lorem ipsum
					a(href="portfolio.html") Show me